.card {
    width: 75%;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.wools {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 25em;
}

.wools li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 5px;
  padding: 5px;
  height: 40px;
  border-radius: 4px;
}

.wools li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.wools li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.wools .text {
  position: relative;
  top: -3px;
}
.wools .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 40px;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
