<div class="row">
    <div class="col">
        <div class="card list-card">
            <div class="card-body">
                <h3 class="card-title">My Stash</h3>
                <div class="list-container">
                    <ul class="wools">
                      <li *ngFor="let wool of wools" [class.selected]="wool === selectedWool" (click)="onSelect(wool)">
                        <span class="badge">{{ wool.id }}</span> {{ wool.name }}
                      </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <div *ngIf="selectedWool">

        <div class="col">
            <div class="card display-card">
                <div class="card-body">
                    <h5 class="card-title">{{ selectedWool.name | uppercase }} Details</h5>
                    <div>id: {{ selectedWool.id }}</div>
                    <div>Name: {{ selectedWool.name }}</div>
                    <div>Date Stashed: {{ selectedWool.dateStashed }}</div>
                    <div>Fiber: {{ selectedWool.fiber }}</div>
                    <div>Status: {{ selectedWool.status }}%</div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 5%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div>Notes: {{ selectedWool.notes }}</div>
                    <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>

    </div>

</div>
